<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    使用静态工厂方法实例化的配置
    -->
    <!--<bean id="userDao"
          class="com.lxg.spring3.factory.StaticFactory"
          factory-method="getUserDao"
    >
    </bean>-->

    <!--
    配置工厂方法实例化
    -->
    <!--<bean id="factory"
          class="com.lxg.spring3.dao.factory.DynamicFactory">

    </bean>
    <bean id="userDao1"
          factory-bean="factory"
          factory-method="getUserDao"
          ></bean>-->


    <!--
    bean的配置：
    常用的属性和子元素
    id: 唯一标识
    name:为Bean指定名称，可以指定多个，每个用逗号隔开
    class:指向Bean的全限定类名
    scope:Bean的作用域，属性值默认为singleton(单例)，除了这个还有，prototype（原型）、request
            session\global Session、application和Websocket
    constructor-arg:使用构造方法进行注入
    property:用于调用setter方法进行属性的注入 用ref后者value指定参数值
    ref:指向某个引用
    value:指向一个基本类型的常量值
    list:封装List或数组的依赖注入
    set:封装Set类属性的依赖注入
    map:封装Map类属性的依赖注入
    entry:<map>的子元素，用于设置一个键值对。其key属性指向字符串类型的键值
          ref或者value指向元素值
    -->
    <bean id="userDao" class="com.lxg.spring4.dao.impl.UserDaoImpl"></bean>
    <bean id="userService" class="com.lxg.spring4.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <!--
    使用p命名空间注入属性
    -->
    <bean id="userService1" class="com.lxg.spring4.service.impl.UserServiceImpl"
           p:userDao-ref="userDao"
    ></bean>

    <!--
    使用构造方法进行注入
    -->
    <bean id="userService2"
          class="com.lxg.spring4.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"></constructor-arg>
    </bean>

    <!--演示注入普通类型数据-->
    <bean id="userDao1" class="com.lxg.spring4.dao.impl.UserDaoImpl">
        <property name="username" value="张三"></property>
        <property name="age" value="20"></property>
    </bean>

    <bean id="user1" class="com.lxg.spring4.domain.User">
        <property name="name" value="张三"></property>
        <property name="add" value="北京"></property>
    </bean>
    <bean id="user2" class="com.lxg.spring4.domain.User">
        <property name="name" value="李四"></property>
        <property name="add" value="上海"></property>
    </bean>
    <bean id="userDao2" class="com.lxg.spring4.dao.impl.UserDaoImpl">
        <property name="strList">
            <list>
                <value>a</value>
                <value>b</value>
                <value>c</value>
            </list>
        </property>

        <property name="userMap">
            <map>
                <entry key="u1" value-ref="user1"></entry>
                <entry key="u2" value-ref="user2"></entry>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
            </props>
        </property>


        <property name="username" value="张三"></property>
        <property name="age" value="20"></property>
    </bean>

</beans>