<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--配置scope属性
    singleton：单例的 （默认）
    prototype：多例的
    -->
    <bean id="userDao" class="com.lxg.spring2.dao.impl.UserDaoImpl" scope="prototype">
    </bean>

</beans>