<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--
    指定初始化方法： init-method="init"
    指定销毁方法：destroy-method="destory"
    -->
    <bean id="userDao"
          class="com.lxg.spring3.dao.impl.UserDaoImpl"
          init-method="init"
          destroy-method="destory"
    >

    </bean>

    <bean id="userService" class="com.lxg.spring3.service.impl.UserServiceImpl"></bean>

</beans>